@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-c: #BCCCDC;
  --modal-background-c: hsl(210, 36%, 96%);


  --modal-input-c: #D9E2EC;
  --modal-txt-c: #003E6B;
  --modal-btn-bg: #4098D7;
  --btn-txt-light: #F0F4F8;

  --txt-sm: 0.875rem;
  --txt-xs: 0.75rem;

  --txt-red: #E66A6A;
  --txt-link: #84C5F4;
}

@media (prefers-color-scheme: dark) {
  
}

body {
  display: flex;
  flex-direction: column;
  height:100%;
  width:100%;
  justify-content: center;
 
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay-t {
  position: absolute;
  top:0;
  left: 0;
  background-color: transparent;
  justify-content: center;
  z-index: 10;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.dropzone {
  justify-content: center;
  align-items: center;
  display: flex;
  border: dotted;
  padding: 1rem;
}

.cg {
  display:grid;
  grid-template-rows: auto 1fr auto;
}

.card-txt {
  font-size: .95em;
  margin: 8px 0;
  margin-bottom: 5px;
  font-weight: 500;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ch-btns {
  display: flex;
  flex-direction: column;
}

.cards-cont {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-auto-rows: 1fr;
  gap: .5rem;
}

.pulsate {
  animation: pulsate 2s ease-out infinite;
  opacity: 0.5;
}

@keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.5;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
