@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}



body {
  display: flex;
  flex-direction: column;
  height:100%;
  width:100%;
  justify-content: center;
  
 
}

html, .bmark-cont {
  scrollbar-width: thin;
}



main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay-t {
  position: absolute;
  top:0;
  left: 0;
  background-color: transparent;
  justify-content: center;
  z-index: 10;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.bcStr {
  text-overflow: ellipsis;
  white-space: break-spaces;
  overflow: hidden;
  max-width: 300px;
  display: inline-block;
}

.dropzone {
  justify-content: center;
  align-items: center;
  display: flex;
  border: dotted;
  padding: 1rem;
}

.cg {
  display:grid;
  grid-template-rows: auto 1fr auto;
}

.card-txt {
  font-size: .95em;
  margin: 8px 0;
  margin-bottom: 5px;
  font-weight: 500;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ch-btns {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.slick-dots li button:before {
  color: white;
}

.cards-cont {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  
  
}



.home-c:hover {
  transform: scale(1.1);
  transition: transform 0.25s ease-in-out;
}

.bc > ol {
  justify-content: center;
}

.pulsate {
  animation: pulsate 1s ease-out infinite;
  opacity: 0.5;
}

.chList-cont::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.slider-txt-cont {
  backdrop-filter: blur(0.5rem);
}

.slider-dots {
  display: flex;
  width: 100%;
  list-style: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: .25rem;
  color: var(--nextui-foreground);
}

.slider-dots > ul {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 16px;
  padding: .5rem;
}

.slider-dots > ul > li:hover {
  cursor: pointer;
}



.slick-active {
  color: #4098D7;
}


@keyframes pulsate {
  0% {
    opacity: 0.7;
    filter: brightness(0.5);
  }
  50% {
    opacity: 1.0;
    filter: brightness(1.2);
  }
  100% {
    opacity: 0.7;
    filter: brightness(1);
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .dStar {
    pointer-events: none;
  }
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}
