

.form {
    width: 90%;
    max-width: 400px;
}

.form > div {
    display: flex;
    flex-direction: column;
    position: relative;
}


.form > div > p {
    font-size: var(--txt-xs);
    min-height: 18px;
}


.form > div > input:focus {
    outline: none;

}


.link {
    color: var(--txt-link);
}